obj/
.vs/
bin/
Vidarr/Vidarr/project.lock.json
Vidarr/Uwp youtube downloader/C#/YoutubeDownloaderUWP/project.lock.json
Vidarr/Vidarr.csproj
Vidarr/project.lock.json
Vidarr/project.json
Vidarr/Vidarr.csproj
